DATABASE_URL="postgresql://postgres:OatKzDzWQkTpHQoFiVkCbcBKJpKuCYyh@trolley.proxy.rlwy.net:13424/railway"
# DATABASE_URL="postgresql://postgres:nQrjFtGUEgsJRrzizgOxZdHWIaCuyjsZ@mainline.proxy.rlwy.net:10623/railway"
JWT_SECRET=bmn-barang1
JWT_EXPIRES=300d
NODE_ENV=DEVELOPMENT